DOCKER_WRAPPER_IMAGE_golang(){ head -1 Dockerfile | sed "s/.*golang:\(.*\) as.*/\1/"; }

DOCKER_WRAPPER_APP(){
  go-server http $1 go run $(head -1 go.mod | cut -d' ' -f2)/x_http_server
}
DOCKER_WRAPPER_LOGS(){
  service=$1
  if [ -z "$service" ]; then
    service=http
  fi
  go-server $service logs
}
DOCKER_WRAPPER_SERVER_OPTS_http(){ echo "-p ${LABO_PORT_PREFIX}${APP_PORT}:8080"; }
