export APP_ROOT=$(pwd)
export APP_PORT=43
set-window-title $(basename $APP_ROOT):${APP_PORT}

export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.rc
export DOCKER_WRAPPER_APP_TARGET=go-server

export LOG_LEVEL=DEBUG

export DOMAIN="$USER.dev.getto.systems"
export COOKIE_DOMAIN=$DOMAIN
export ORIGIN="https://$USER.dev.getto.systems:${LABO_PORT_PREFIX}80"

export TLS_CERT="$HOME/.letsencrypt/live/$DOMAIN/fullchain.pem"
export TLS_KEY="$HOME/.letsencrypt/live/$DOMAIN/privkey.pem"

export AWS_CLOUDFRONT_KEY_PAIR_ID=$(cat tmp/aws/key_pair_id.txt)
export AWS_CLOUDFRONT_PEM=$APP_ROOT/tmp/aws/pk.pem
export AWS_CLOUDFRONT_SECURE_URL="https://secure.example.getto.systems/*"

export TICKET_PRIVATE_KEY=$APP_ROOT/tmp/jwt/renew/pk.pem
export TICKET_PUBLIC_KEY=$APP_ROOT/tmp/jwt/renew/pub.pem

export APP_PRIVATE_KEY=$APP_ROOT/tmp/jwt/app/pk.pem

export ADMIN_ID=admin
export ADMIN_PASSWORD=$(cat $APP_ROOT/tmp/admin_password.txt)
