export APP_ROOT=$(pwd)
export APP_PORT=43
set-window-title $(basename $APP_ROOT):${APP_PORT}

export DOCKER_WRAPPER_RC=$APP_ROOT/.docker-wrapper.sh

export LOG_LEVEL=DEBUG
export GOOGLE_SECRET_MANAGER_SECRET_NAME=projects/getto-projects/secrets/example-auth-development/versions/2
export GOOGLE_APPLICATION_CREDENTIALS=$APP_ROOT/.secret/development/google-application-credentials.json
